input(type="text" name="username" placeholder="email@example.com" "[(ngModel)]"="email")

input(type="password" name="password" placeholder="" "[(ngModel)]"="password")

button(type="submit" "(click)"="login()") login

p("[innerHtml]"="error")
