main
  form
    input(type="text" name="username" placeholder="Email Address" "[(ngModel)]"="email")

    input(type="password" name="password" placeholder="Password" "[(ngModel)]"="password")

    input(type="submit" "(click)"="login()" value="Sign In")

  p(style="color: red") {{error}}
