header
  input(type="text" "[(ngModel)]"="post.title")
  button Publish

section
  p Hello from the {{title}}!

  textarea( "[(ngModel)]"="post.body" )

  section( class="preview" "[innerHtml]"="post.body | markdown")

footer
  section.left
    p.name Markdown
  section.right
    p.name Preview
    p.count Word Count: {{post.body | markdown | wordCount }}
