section
  //- Mobile
  header
    button.publish("(click)"="extendMenu()")
      i.fa.fa-navicon

  nav("[class.open]"="menuOpen" "[class.collapse-sidebar]"="menuCollapsed")
    button("(click)"="toggleNavWidth()")
      i.fa.fa-navicon
    a("[routerLink]"="['../']")
      section
        span
          | View Blog

  main("(click)"="menuOpen = false" "[class.extend-content]"="menuCollapsed")
    router-outlet
