$primary-border: #DFE1E3;
$nav-background: #F5F5F5;

nav {
  background: $nav-background;
  border-right: 1px solid $primary-border;
  height: 100vh;
  width: 250px;
  position: fixed;
  left: 0;
  z-index: 100;

  section {
    height: 40px;
    width: 100%;
    border-top: 1px solid $primary-border;
    position: absolute;
    bottom: 0;
    transition: background 0.2s ease-in;

    &:hover {
      background: #FFF;
    }
  }
}

main {
  min-height: calc(100vh - 40px); // Page height - s-title - padding
  background: #FFF;
  position: absolute;
  right: 0;
  width: calc(100% - 251px - 40px); // Full width - navbar w/ border - padding
  padding: 20px;
  overflow: hidden;
  z-index: 50;
}

button {
  padding: 3px;
  border: 1px solid #EEE;
  z-index: 100;
  height: 40px;
  border-radius: 3px;
  position: fixed;
  left: 20px;
  min-width: 40px;
  margin-top: 10px;
  outline: none;
}

@media screen and (min-width: 992px) {
  button {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  button {
    display: block;
  }

  nav {
    left: -280px;
    transition: left 0.6s;
    box-shadow: 3px 0px 10px 0px rgba(50, 50, 50, 0.25);
  }

  main {
    width: calc(100% - 40px);
  }

  .open {
    left: 0;
  }


}
