  textarea {
    width: 100%;
    padding: 20px 0 0 0;
    outline: none;
    border: none;
    font-size: 14px;
    resize: none;
    font-family: 'Roboto Mono', monospace;
    overflow: hidden;
  }
