header
  input(type="text" "[(ngModel)]"="post.title" "(click)"="viewSettings = false")
  button.publish Publish
  button.settings("(click)"="extendSettings()")
    i.fa.fa-cog


section("(click)"="viewSettings = false")
  p Hello from the {{title}}!

  ul.controls("(mousedown)"="$event.preventDefault()")
    li
      i.fa.fa-header
    li("(click)"="formatSelected('**')")
      i.fa.fa-bold
    li("(click)"="formatSelected('_')")
      i.fa.fa-italic
    li("(click)"="formatSelected('~~')")
      i.fa.fa-strikethrough
    li
      i.fa.fa-list-ol
    li
      i.fa.fa-list-ul
    li("(click)"="insertSyntax('[]()')")
      i.fa.fa-link
    li("(click)"="insertSyntax('![]()')")
      i.fa.fa-picture-o

  textarea( "[(ngModel)]"="post.body" "(select)"="getSelected($event)" "(keydown)"="setCursorPosition($event)" "(mousedown)"="setCursorPosition($event)" )

  section( class="preview" "[innerHtml]"="post.body | markdown")

footer("(click)"="viewSettings = false")
  section.left
    p.name Markdown
  section.right
    p.name Preview
    p.count Word Count: {{post.body | wordCount }}

aside("[class.open]"="viewSettings")

  p Cover Image
  input(type="file" disabled)

  p Tags
  input(type="text" disabled)

  p url
  input(type="url" "[attr.value]"="post.title | url")
