header
  input(type="text" "[(ngModel)]"="post.title")
  button Publish
  button("(click)"="extendSettings()") open


section("(click)"="viewSettings = false")
  p Hello from the {{title}}!

  textarea( "[(ngModel)]"="post.body" )

  section( class="preview" "[innerHtml]"="post.body | markdown")

footer
  section.left
    p.name Markdown
  section.right
    p.name Preview
    p.count Word Count: {{post.body | wordCount }}

aside("[class.open]"="viewSettings")

  p Cover Image
  input(type="file" disabled)

  p Tags
  input(type="text" disabled)

  p url
  input(type="url" "[attr.value]"="post.title | url")
