$primary-border: #EEE;

header {
  height: 60px;
  width: calc(100% - 40px);
  position: absolute;
  right: 0;
  top: 0;
  background: #FFF;
  border-bottom: 1px solid $primary-border;
  padding-left: 20px;
  padding-right: 20px;

  h1 {
    display: inline;
    margin-top: 15px;
    position: absolute;
  }

  input {
    height: 58px;
    width: calc(100% - 150px);
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 28px;
  }
}

section {
  margin-top: 61px;
  width: 100%;
}

.publish {
  padding: 3px;
  border: 1px solid rgb(42, 112, 194);
  background: rgb(15, 154, 223);
  color: #FFF;
  z-index: 100;
  height: 40px;
  border-radius: 3px;
  position: fixed;
  min-width: 100px;
  margin-top: 10px;
  outline: none;
  display: inline-block;
  right: 60px;
}


.controls {
  width: calc(100% / 2);
  height: 40px;
  background: #F5F5F5;
  position: absolute;
  left: 0;
  top: 61px;
  margin: 0;
  padding: 0;
  display: flex;



  li {
    list-style: none;
    height: 40px;
    width: 100%;
    flex-direction: row;
    background: #F8F8F8;
    border-color: #F5F5F5;
    display: inline-block;
    text-align: center;
    transition: border-color 0.2s ease-in;
    cursor: pointer;

    .dropdown {
      list-style: none;
      height: auto;
      width: calc(100% / 8 - 10px);
      position: absolute;
      border-radius: 3px;
      z-index: 1000;
      background: rgba(0, 0, 0, 0.8);
      color: #FFF;
      margin-left: 5px;
      margin-top: 13px;
      box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.30);
      padding: 0;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.1s ease;

      li {
        background: none;
        height: 30px;
        display: block;
        padding-top: 10px;
        border-bottom: 1px solid rgba(68, 68, 68, 0.8);
        transition: none;

        &:first-child {
          border-top-right-radius: 3px;
          border-top-left-radius: 3px;
        }

        &:last-child {
          border: none;
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;
        }

        &:hover {
          background: rgba(68, 68, 68, 0.8);
        }

        span {
          padding-top: 10px;
        }
      }

      &:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 0 10px 10px;
        border-color: rgba(0,0,0,0.8) transparent;
        display: block;
        width: 0;
        z-index: 1000;
        top: -10px;
        left: calc(50% - 10px);
      }
    }


    &:hover {
      // border: 2px solid #2A70C2;
      border-bottom: 2px solid #0F9ADF;
      height: 38px;

      .dropdown {
        visibility: visible;
        opacity: 1;
      }
    }

    i {
      padding-top: 10px;
    }
  }
}

.editor {
  width: calc(100% / 2);
  height: calc(100vh - 61px - 81px);
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  left: 0;
  padding: 0;
  bottom: 41px;
  flex-direction: column;
  display: flex;

  .input {
    width: calc(100% - 40px);
    padding: 0 20px 0 20px;
    display: block;

  }

  textarea {
    width: 100%;
    padding: 20px 0 0 0;
    outline: none;
    border: none;
    font-size: 14px;
    resize: none;
    font-family: 'Roboto Mono', monospace;
    overflow: hidden;
  }

}

.preview {
  width: calc(100% / 2 - 40px);
  height: calc(100vh - 61px - 81px);
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  padding: 20px;
  bottom: 41px;
  border-left: 1px solid #DFE1E3;
  word-wrap: break-word;

  pre[class*=language-]:before {
    content: attr(data-title);
    position: absolute;
    top: 0;
    background: rgba(51,51,51,.4);
    text-align: right;
    font-family: 'Noto Sans',sans-serif;
    text-shadow: none;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 20px 25%;
    color: #636363!important;
    margin-top: 0;
    margin-bottom: 0;
  }
}


footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #DFE1E3;
  height: 40px;
  left: 0;

  .left {
    width: 50%;
    height: 40px;
    position: absolute;
    left: 0;
    font-size: 12px;
    color: #555;
    margin: 0;

    .name {
      display: inline;
      position: absolute;
      left: 20px;
    }
}

  .right {
    width: 50%;
    height: 40px;
    position: absolute;
    right: 0;
    border-left: 1px solid #DFE1E3;
    font-size: 12px;
    color: #555;
    margin: 0;

    .name {
      display: inline;
      position: absolute;
      left: 20px;
    }

    .count {
      display: inline;
      position: absolute;
      right: 20px;
    }
  }
}

aside {
  width: 240px;
  height: 100%;
  position: absolute;
  z-index: 1000;
  top: 0;
  right: -300px;
  padding: 20px;
  background: #FFF;
  border-left: 1px solid $primary-border;
  box-shadow: -4px 0px 14px 0px rgba(50, 50, 50, 0.25);
  transition: right 0.4s;

  input {
    display: block;
    padding: 0.7em 1em;
    border: 1px solid #dfe1e3;
    border-radius: 4px;
    color: #666;
    font-size: 1.0em;
    font-weight: 100;
    user-select: text;
    transition: border-color .15s linear;
    -webkit-appearance: none;
    margin-bottom: 15px;
    width: calc(100% - 2.1em);

    &:focus {
      outline: 0;
      border-color: #b1b1b1;
    }
  }

}

.open {
  right: 0;
}

.settings {
  padding: 10px 25px;
  color: #444;
  position: absolute;
  top: 12px;
  right: 0px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
}

@media screen and (max-width: 991px) {
  header {
    width: calc(100% - 80px);
    padding-left: 80px;
  }

  section {
    width: calc(100% - 40px);
  }
}
