$primary-border: #EEE;

header {
  height: 60px;
  width: calc(100% - 40px - 251px);
  position: fixed;
  right: 0;
  top: 0;
  background: #FFF;
  border-bottom: 1px solid $primary-border;
  padding-left: 20px;
  padding-right: 20px;

  h1 {
    display: inline;
    margin-top: 15px;
    position: absolute;
  }

  input {
    height: 58px;
    width: calc(100% - 110px);
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 28px;
  }
}

section {
  margin-top: 61px;
  width: 100%;
}

button {
  padding: 3px;
  border: 1px solid rgb(42, 112, 194);
  background: rgb(15, 154, 223);
  color: #FFF;
  z-index: 100;
  height: 40px;
  border-radius: 3px;
  position: fixed;
  min-width: 100px;
  margin-top: 10px;
  outline: none;
  display: inline-block;
  right: 20px;
}

.preview {
  width: calc(100% / 2 - 40px);
  height: calc(100vh - 61px - 81px);
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  padding: 20px;
  bottom: 41px;
  border-left: 1px solid #DFE1E3;
  word-wrap: break-word;
}

textarea {
  width: calc(100% / 2 - 40px);
  height: calc(100vh - 61px - 81px);
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  left: 0;
  padding: 20px;
  bottom: 41px;
  border-left: 1px solid #DFE1E3;
  outline: none;
  border: none;
  font-size: 14px;
  resize: none;
  font-family: 'Roboto Mono', monospace;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #DFE1E3;
  height: 40px;
  left: 0;

  .left {
    width: 50%;
    height: 40px;
    position: absolute;
    left: 0;
    font-size: 12px;
    color: #555;
    margin: 0;

    .name {
      display: inline;
      position: absolute;
      left: 20px;
    }
}

  .right {
    width: 50%;
    height: 40px;
    position: absolute;
    right: 0;
    border-left: 1px solid #DFE1E3;
    font-size: 12px;
    color: #555;
    margin: 0;

    .name {
      display: inline;
      position: absolute;
      left: 20px;
    }

    .count {
      display: inline;
      position: absolute;
      right: 20px;
    }
  }
}

aside {
  width: 240px;
  height: 100%;
  position: absolute;
  z-index: 1000;
  top: 0;
  right: -300px;
  padding: 20px;
  background: #FFF;
  border-left: 1px solid $primary-border;
  box-shadow: -4px 0px 14px 0px rgba(50, 50, 50, 0.25);
  transition: right 0.6s;

  input {
    display: block;
    padding: 0.7em 1em;
    border: 1px solid #dfe1e3;
    border-radius: 4px;
    color: #666;
    font-size: 1.0em;
    font-weight: 100;
    user-select: text;
    transition: border-color .15s linear;
    -webkit-appearance: none;
    margin-bottom: 15px;
    width: calc(100% - 2.1em);

    &:focus {
      outline: 0;
      border-color: #b1b1b1;
    }
  }

}

.open {
  right: 0;
}

@media screen and (max-width: 991px) {
  header {
    width: calc(100% - 80px);
    padding-left: 80px;
  }

  section {
    width: calc(100% - 40px);
  }
}
